selector {
  height: 100%;
  color: #000;
  transition: opacity 0.5s;
  opacity: 1;
  h1 {
      text-align: center;
      font-size: 2em;
      padding: 0.8em;
      border-bottom: 1px #000 solid;
      margin: 0;
      text-transform: uppercase;
      font-family: 'Prociono', serif;
      padding: 0.5em 0;
  }
  .options {
      position: absolute;
      bottom: 1.2em;
      left: 1em;
      right: 1em;
  }
}

[ui-view].ng-enter {
    selector {
        opacity: 0;
    }
}
[ui-view].ng-leave {
    selector {
        opacity: 0;
    }
}
