selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: #000;
  font-family: 'Prociono', serif;
  transition: opacity 0.5s;
  opacity: 1;
  h1 {
      font-size: 2em;
      padding: 0.8em;
  }
}

[ui-view].ng-enter {
    selector {
        opacity: 0;
    }
}
[ui-view].ng-leave {
    selector {
        opacity: 0;
    }
}
