@import url(https://fonts.googleapis.com/css?family=Prociono);home {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  font-size: 0.8em;
  color: #000;
  text-align: center; }
  home .content {
    transition: all 0.2s;
    opacity: 1; }
    home .content h3 {
      font-size: 2em; }
      home .content h3 i {
        margin-right: 0.3em; }

[ui-view].ng-enter home .content {
  opacity: 0; }

[ui-view].ng-leave home .content {
  opacity: 0; }
question {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  color: #fff;
  font-family: 'Prociono', serif; }
  question h1 {
    font-size: 2em;
    padding: 0.8em;
    box-shadow: inset 0 0 0 0.2em #fff;
    opacity: 1;
    transition: opacity 0.2s ease-out 0.3s, box-shadow 0.5s 0.7s;
    margin: 0 1.5em; }
  question .background {
    z-index: -1;
    background-image: url(/23b805a5f350d975e534f37dcdd3569c.svg);
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    margin-right: 0;
    transition: margin 0.3s ease-out; }

[ui-view].ng-enter question .background {
  margin-right: 100%;
  transition: none; }

[ui-view].ng-enter question h1 {
  opacity: 0;
  transition: none;
  box-shadow: none; }

[ui-view].ng-leave question .background {
  margin-left: 100%;
  transition-delay: 0.2s; }

[ui-view].ng-leave question h1 {
  opacity: 0;
  box-shadow: none;
  transition: opacity 0.2s ease-out 0.7s, box-shadow 0.5s 0.3s; }
brothers {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  background-color: #fff;
  transition: opacity 0.5s;
  opacity: 1; }
  brothers img {
    position: fixed;
    display: block;
    margin-top: 0;
    transition: top 0.5s ease-out; }
    brothers img.brother-1 {
      height: 30em;
      left: 2em;
      top: 0; }
    brothers img.brother-2 {
      height: 30em;
      left: 11em;
      top: 0; }
    brothers img.brother-3 {
      height: 30em;
      right: 3em;
      top: 0; }
    brothers img.jesus {
      height: 30em;
      right: 8em;
      top: 0; }

[ui-view].ng-enter brothers {
  opacity: 0; }
  [ui-view].ng-enter brothers img.brother-1 {
    top: 2em; }
  [ui-view].ng-enter brothers img.brother-2 {
    top: -1em; }
  [ui-view].ng-enter brothers img.brother-3 {
    top: 5em; }
  [ui-view].ng-enter brothers img.jesus {
    top: -6em; }

[ui-view].ng-leave brothers {
  opacity: 0; }
crowd {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  color: #000;
  font-family: 'Prociono', serif;
  transition: opacity 0.5s;
  opacity: 1; }
  crowd h1 {
    font-size: 2em;
    padding: 0.8em; }

[ui-view].ng-enter crowd {
  opacity: 0; }

[ui-view].ng-leave crowd {
  opacity: 0; }
jesus {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  color: #000;
  font-family: 'Prociono', serif;
  transition: opacity 0.5s;
  opacity: 1; }
  jesus h1 {
    font-size: 2em;
    padding: 0.8em; }

[ui-view].ng-enter jesus {
  opacity: 0; }

[ui-view].ng-leave jesus {
  opacity: 0; }
challenge {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  color: #fff;
  font-family: 'Prociono', serif; }
  challenge h1 {
    font-size: 2em;
    padding: 0.8em;
    box-shadow: inset 0 0 0 0.2em #fff;
    opacity: 1;
    transition: opacity 0.2s ease-out 0.3s, box-shadow 0.5s 0.7s;
    margin: 0 1.5em; }
  challenge .background {
    z-index: -1;
    background-image: url(/23b805a5f350d975e534f37dcdd3569c.svg);
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    margin-right: 0;
    transition: margin 0.3s ease-out; }

[ui-view].ng-enter challenge .background {
  margin-right: 100%;
  transition: none; }

[ui-view].ng-enter challenge h1 {
  opacity: 0;
  transition: none;
  box-shadow: none; }

[ui-view].ng-leave challenge .background {
  margin-left: 100%;
  transition-delay: 0.2s; }

[ui-view].ng-leave challenge h1 {
  opacity: 0;
  box-shadow: none;
  transition: opacity 0.2s ease-out 0.7s, box-shadow 0.5s 0.3s; }
selector {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  color: #000;
  font-family: 'Prociono', serif;
  transition: opacity 0.5s;
  opacity: 1; }
  selector h1 {
    font-size: 2em;
    padding: 0.8em; }

[ui-view].ng-enter selector {
  opacity: 0; }

[ui-view].ng-leave selector {
  opacity: 0; }
content div[ui-view] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: 0;
  background-color: #fff; }
  content div[ui-view].ng-enter, content div[ui-view].ng-leave {
    transition: all 1s; }
nav .block-nav {
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: fixed;
  top: 50%;
  height: 2em;
  width: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 50px;
  transition: all 0.5s ease-out;
  margin-top: -1em;
  cursor: pointer; }
  nav .block-nav i {
    display: inline-block;
    vertical-align: middle; }
  nav .block-nav.left {
    left: 0; }
    nav .block-nav.left.ng-hide-remove, nav .block-nav.left.ng-hide-add-active {
      left: -1.5em; }
  nav .block-nav.right {
    right: 0; }
    nav .block-nav.right.ng-hide-remove, nav .block-nav.right.ng-hide-add-active {
      right: -1.5em; }
  nav .block-nav:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none; }

nav .progress {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 0.25em;
  margin: 0; }
  nav .progress .bar {
    transition: width 1s ease-out;
    height: 0.25em;
    background-color: green; }
@keyframes ping {
  from {
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.2); }
  to {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2); } }

speech .button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 5em;
  transition: all 0.5s; }
  speech .button a {
    animation-duration: 2s;
    animation-name: ping;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #fff;
    color: #000;
    border: 0.125em solid black;
    width: 2em;
    height: 2em;
    font-size: 2em;
    text-align: center;
    border-radius: 100%;
    opacity: 1;
    transition: all .2s ease-out;
    cursor: pointer; }
    speech .button a.transition {
      transform: scale(50);
      opacity: 0; }
    speech .button a:hover {
      text-decoration: none; }
  speech .button.ng-hide-remove a, speech .button.ng-hide-add-active a {
    border-color: transparent;
    transform: scale(3) rotate(90deg);
    opacity: 0; }

speech .message {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Prociono', serif;
  line-height: 1.8em;
  transition: all 0.5s ease-in-out;
  opacity: 1; }
  speech .message .content {
    width: 100%;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 15em;
    background-color: #fff;
    padding: 2em 5em;
    font-size: 1.1em;
    text-align: justify;
    overflow: hidden;
    transition: height 0.5s ease-out, opacity 0.5s ease-out, color 0.5s ease-out 0.5s;
    z-index: 1000;
    color: #000; }
  speech .message .hide-message {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    position: absolute;
    top: 50%;
    height: 2em;
    width: 1.5em;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 50px;
    margin-top: -1em;
    cursor: pointer;
    right: 0;
    transition: left 0.5s ease-out 0.5s; }
  speech .message.ng-hide-remove .content, speech .message.ng-hide-add .content {
    height: 0;
    opacity: 0;
    color: #fff; }
  speech .message.ng-hide-remove .hide-message, speech .message.ng-hide-add .hide-message {
    right: -1.5em; }
  speech .message.ng-hide-add .hide-message {
    transition: right 0.5s ease-out; }
body {
  font-size: x-large; }

@media (max-width: 1000px) {
  body {
    font-size: large; } }

@media (max-width: 500px) {
  body {
    font-size: medium; } }

/*# sourceMappingURL=app.2320dbdafb418ad94463.css.map*/