<div class="button" style="left: {{$ctrl.leftAlign}};" ng-show="$ctrl.buttonVisible">
    <a ng-class="{ 'transition': !$ctrl.visibleTransition, 'hide-button': $ctrl.messageVisible }" ng-click="$ctrl.showMessage()"><i class="fa fa-comments"></i></a>
</div>
<div class="message" ng-show="$ctrl.messageVisible">
    <div class="hide-message" ng-show="$ctrl.messageVisible" ng-click="$ctrl.hideMessage()">
        <i class="fa fa-times"></i>
    </div>
    <div class="content">
        {{$ctrl.message}}
    </div>
</div>
