@keyframes ping {
    from {
        box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
    }
    to {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    }
}

speech {
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 5em;
        transition: all 0.5s;
        a {
            animation-duration: 2s;
            animation-name: ping;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            background: #fff;
            color: #000;
            border: 0.125em solid rgba(0,0,0,1);
            width: 2em;
            height: 2em;
            font-size: 2em;
            text-align: center;
            border-radius: 100%;
            opacity: 1;
            transition: all .2s ease-out;
            cursor: pointer;
            &.transition {
                transform: scale(50);
                opacity: 0;
            }
            &:hover {
                text-decoration: none;
            }
        }
        &.ng-hide-remove, &.ng-hide-add-active {
            a {
                border-color: rgba(0,0,0,0);
                transform: scale(3) rotate(90deg);
                opacity: 0;
            }
        }
    }
    .message {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-family: 'Prociono', serif;
        line-height: 1.8em;
        transition: all 0.5s ease-in-out;
        opacity: 1;
        .content {
            width: 100%;
            border-top: 1px dashed #000;
            border-bottom: 1px dashed #000;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 15em;
            background-color: #fff;
            padding: 2em 5em;
            font-size: 1.1em;
            text-align: justify;
            overflow: hidden;
            transition: height 0.5s ease-out, opacity 0.5s ease-out, color 0.5s ease-out 0.5s;
            z-index: 1000;
            color: #000;
        }
        .hide-message {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            height: 2em;
            width: 1.5em;
            background-color: rgba(0,0,0,0.3);
            color: #fff;
            font-size: 50px;
            margin-top: -1em;
            cursor: pointer;
            right: 0;
            transition: left 0.5s ease-out 0.5s;
        }
        &.ng-hide-remove, &.ng-hide-add {
            .content {
                height: 0;
                opacity: 0;
                color: #fff;
            }
            .hide-message {
                right: -1.5em;
            }
        }
        &.ng-hide-add {
            .hide-message {
                transition: right 0.5s ease-out;
            }
        }
    }

}
