<div class="player">
    <a class="block-nav left" ng-click="$ctrl.back()" ng-class="{ 'faded' : !$ctrl.canGoBack() }">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="block-nav right" ng-click="$ctrl.forward()" ng-class="{ 'faded' : !$ctrl.canGoForward() }">
        <i class="fa fa-angle-right"></i>
    </a>
</div>
<div class="progress">
    <div class="bar" ng-style="$ctrl.progress()"></div>
</div>
<audio id="questionAudio" src="audio/title.mp3" loop />
<audio id="brothersAudio" src="audio/brothers.mp3" loop />
<audio id="crowdAudio" src="audio/crowd.mp3" loop />
<audio id="jesusAudio" src="audio/jesus.mp3" loop />
<audio id="challengeAudio" src="audio/title.mp3" loop />
<audio id="selectorAudio" src="audio/selector.mp3" loop />
