nav {
    .block-nav {
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 50%;
        height: 2em;
        width: 1.5em;
        background-color: rgba(0,0,0,0.2);
        color: #fff;
        font-size: 50px;
        transition: all 0.5s ease-out;
        margin-top: -1em;
        cursor: pointer;
        i {
            display: inline-block;
            vertical-align: middle
        }
        &.left {
            left: 0;
            &.ng-hide-remove, &.ng-hide-add-active {
                left: -1.5em;
            }
        }
        &.right {
            right: 0;
            &.ng-hide-remove, &.ng-hide-add-active {
                right: -1.5em;
            }
        }
        &:hover {
            background-color: rgba(0,0,0,0.3);
            text-decoration: none;
        }
    }
    .progress {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.2);
        height:0.25em;
        margin: 0;
        .bar {
            transition: width 1s ease-out;
            height: 0.25em;
            background-color: green;
        }
    }
}
