home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-size: 0.8em;
    color: #000;
    text-align: center;
    .content {
        transition: all 0.2s;
        opacity: 1;
        h3 {
            font-size: 2em;
            i {
                margin-right: 0.3em;
            }
        }
    }
}

[ui-view].ng-enter {
    home {
        .content {
            opacity: 0;
        }
    }
}
[ui-view].ng-leave {
    home {
        .content {
            opacity: 0;
        }
    }
}
