brothers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    transition: opacity 0.5s;
    opacity: 1;
    img {
        position: fixed;
        display: block;
        margin-top: 0;
        transition: margin 0.5s ease-out;
        &.brother-1 {
            height: 30em;
            left: 2em;
        }
        &.brother-2 {
            height: 30em;
            left: 11em;
        }
        &.brother-3 {
            height: 30em;
            right: 3em;
        }
        &.jesus {
            height: 30em;
            right: 8em;
        }
    }
}

[ui-view].ng-enter {
    brothers {
        opacity: 0;
        img {
            &.brother-1 {
                margin-top: 2em;
            }
            &.brother-2 {
                margin-top: -1em;
            }
            &.brother-3 {
                margin-top: 5em;
            }
            &.jesus {
                margin-top: -6em;
            }
        }
    }
}
[ui-view].ng-leave {
    brothers {
        opacity: 0;
    }
}
